@import "tailwindcss";

@layer base {
  html {
    /* 1rem будет равен не 16px, а примерно 2.5% от ширины экрана */
    /* clamp не даст шрифту стать слишком мелким или слишком огромным */
    font-size: clamp(3px, 4vw, 16px);
  }

  button {
    cursor: pointer;
  }

  /* Не забываем про заблокированные кнопки */
  button:disabled {
    cursor: not-allowed;
  }
}

@layer utilities {
  .animate-shimmer {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}

@theme {
  --color-brand-main: oklch(32.17% 0.16 302.7);
  --color-obsidian: #06030c;
  /* --shadow-default: 0px 0px 3px 0px #06030c45; */
  --color-cream: #fffdd0;
  --shadow-default: 0px 0px 5px -2px #06030c8a;
  --min-width-default: 230px;
  --min-height-default: 230px;
  --background-color-default: #fffff0;
  --color-default: #fffff0;
}
