{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block userlinks %}
  {% if site_url %}
    <a href="{{ site_url }}">{% translate 'View site' %}</a> /
  {% endif %}
  {% if user.is_active and user.is_staff %}
    <a href="{% url 'admin_shop_report' %}">Отчет магазина</a> /
    {% if user.is_superuser %}
      <a href="{% url 'admin_table_report' %}">Отчет по БД</a> /
    {% endif %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
      <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
    {% endif %}
  {% endif %}
  {# Скрываем кнопку смены пароля #}
  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit">{% translate 'Log out' %}</button>
  </form>
{% endblock %}
